<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>


  <body>
    <h1>Email recived from Bug-Blasters-Inc Site! </h1>
    <h4>The email left from the user was <%=@email%>. Below is their message. </h4>
    <p><%=@message%></p>
  </body>


</html>
